.bg-container{
  background-image:url("https://img.freepik.com/premium-photo/high-angle-view-telephone-booth_1048944-3149334.jpg?size=626&ext=jpg&ga=GA1.1.1877632894.1706687303&semt=ais");
  background-size: cover;
  height: 200vh;
  object-fit:cover;  
  padding-left:20% ;
  padding-right:20%;
  transition: background-image 0.5s ease;
}

.container{
  background-color: black;
  opacity:0.8;
  height: 190vh;
  object-fit:cover;
  background-size: cover;

}


.heading {
    color:white;
    font-size: 22px;
    font-family: Bree Serif;
    text-align: center;
    font-weight:bold;
  
  }

  .button-style {
    background-color: white;
    border-radius: 10px;
    color:black;
    margine-top:30px;
    width:100px;
    padding:7px;
    font-size:18px;
    
}

.button-style2 {
    background-color:transparent;
    border-radius: 10px;
    color:white;
    border-color:white;
    font-weight: bold;
    padding:5px;
    border-width:3px;
    text-align: center;
    
}

::placeholder {
  color: white;
  font-weight: normal;

}

.bg-container:hover {
  /* Change the background image on hover */
  background-image: url("https://img.freepik.com/free-vector/gray-geometric-shapes-black-background-vector_53876-171404.jpg?w=740&t=st=1706709738~exp=1706710338~hmac=65a3191eebd8437718e6a4b0a1a516effd9fa082069140a394a50b016c59f526");
  height: 190vh;
  object-fit:cover;
  background-size: cover;
}

.social-links a {
    color: black;
    background-color:black;
    margin-right: 20px; /* Optional: Add spacing between social icons */
    border-radius:10px;
    background-color: whitesmoke;
    opacity:0.6;

    
}

hr {
    border-top: 1px solid white;
    padding:8px;
}

p {
    color: black;
    text-align:center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke; 
    color: black; 
    padding:5px;
    height:14%;
}

.header{
  height:25%;
  width: 100%;
  background-color:black; 
  color:transparent; 


}
